<mat-card appearance="outlined" class="custom-card">
  <mat-card-header>
    <mat-card-title>BK</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col d-flex flex-column align-items-center">
        <ngx-gauge [type]="'arch'" [value]="data.temperatura" [label]="'Temperatura'" [append]="'ºC'" [min]="0"
          [max]="100" [cap]="'butt'" [thick]="10" [foregroundColor]="'#DA4F49'" [backgroundColor]="'#ffffff'"
          [size]="180">
        </ngx-gauge>
      </div>
      <div class="col d-flex flex-column align-items-center">
        <div class="row">
          <div class="col d-flex flex-column align-items-center">
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <div class="switch">
                    <div class="form-group">
                      <label>RESISTÊNCIA</label>
                      <div>
                        <button type="button"
                          [ngClass]="{'btn': true, 'btn-success': data.resistencia, 'btn-danger': !data.resistencia}"
                          (click)="bkResistencia()">
                          {{data.resistencia ? 'ON':'OFF'}}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="row">
                    <div class="col">
                      <label for="potenciaHlt">POTÊNCIA</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-slider min="0" max="255" step="1" discrete style="width: 180px;" (input)="bkPotencia($event)" >
                        <input matSliderThumb>
                      </mat-slider>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
